* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.primary-button {
  width: 250px;
  background: #fd6e0a;
  border-radius: 5px;
  padding: 18px 36px;
  border: 0;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

.contact-button {
  width: 250px;
  background: #fff;
  border-radius: 5px;
  padding: 16px 34px;
  border: 2px solid #fd6e0a;
  color: #fd6e0a;
  font-weight: 700;
  font-size: 20px;
  margin-left: 30px;
  cursor: pointer;
}

header {
  background: #fff8f3;
  padding: 0 150px;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;
  background-size: 45%, contain;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

.text-primary {
  color: #fd6e0a;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-left: 50px;
  font-weight: 700;
  font-size: 20px;
}

.banner {
  display: flex;
}

.banner-subtitle {
  font-weight: 600;
  font-size: 45px;
  color: #474747;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
  color: #181818;
}
.banner-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin: 25px 0;
}

/* about me styles */
.about-me {
  background: #fff8f3;
  border-radius: 10px;
  margin: 130px 150px;
  padding: 130px 150px;
}
.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  color: #181818;
}
.section-description {
  text-align: center;
  margin: 50px 0;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
}

.section-info {
  display: flex;
  justify-content: space-between;
}

/* What i do styles */

.what-i-do {
  margin: 130px 150px;
}

.info-title {
  font-size: 20px;
  line-height: 30px;
  color: #757575;
  text-align: center;
}

.info-details {
  font-size: 20px;
  line-height: 30px;
  color: #474747;
  text-align: center;
}

.card {
  padding: 30px;
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}

.skills {
  display: flex;
  gap: 24px;
}

.skill-title {
  font-weight: 700;
  font-size: 18px;
  color: #181818;
  margin: 20px 0;
}

.skill-detail {
  color: #757575;
}

.summary-of-resume {
  display: flex;
  gap: 100px;
  width: 1140px;
  margin-top: 150px;
}

.education-summary {
  padding-right: 50px;
}

.education {
  font-weight: 700;
  font-size: 30px;
  color: #474747;
  margin-bottom: 30px;
}
.course-title {
  font-weight: 700;
  font-size: 25px;
  color: #474747;
  margin-bottom: 10px;
}
.institute {
  font-weight: 600;
  font-size: 20px;
  color: #757575;
  margin-bottom: 20px;
}
.course-details {
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}

hr {
  margin: 30px 0;
}

.download-button {
  margin: 50px 0;
  text-align: center;
}

.contact-section {
  background: #fff8f3;
  display: flex;
  gap: 80px;
  margin: 150px 0 50px 0;
  padding: 150px 0 0 150px;
}

.lets-connect {
  font-weight: 700;
  font-size: 35px;
  color: #181818;
  margin-bottom: 20px;
}

.section-details {
  font-weight: 400;
  font-size: 16px;
  color: #474747;
  margin-bottom: 30px;
}

.connect a {
  text-decoration: none;
  margin-right: 24px;
}

input, textarea{
  width: 100%;
  padding: 18px 30px;
  border: 0;
  margin-bottom: 24px;
}
